*{
    color: #ffff;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    background-color: rgb(30, 41, 59);
}
.display_none{
    display: none !important;
}
.display_block{
    display: block !important;
}
#app{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form{
    
}
#input{
    font-size: 14px;
    padding: 16px;
    width: 400px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 1px;
    background-color: rgb(30, 41, 59);
    border-bottom: solid 2px rgb(0 0 0 );
    margin-top: 12px;
    margin-right: 12px;
}
#input:focus{
    outline-width: 0;
}
button{
    text-align: center;
    background-color: rgb(15 23 42);
    border: none;
    width: 100px;
    height: 54px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}
#edit{
    display: none;
}
button:hover{
    background-color: rgba(15 23 42 .3);
}
#list{
    padding-left: 0;
}
#list li{
    position: relative;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 16px;
    background-color: rgb(15 23 42);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    list-style-type: none;
    width: 500px;
    cursor: pointer;
}

.delete_btn{
    padding: 3px;
    width: 20px;
    fill: rgb(239 68 68);
    cursor: pointer;
    position: absolute;
    right: 50px;
}
.edit_btn{
    padding: 3px;
    width: 20px;
    fill: rgb(34 197 94);
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.border_red{
    border-left: solid 5px rgb(239 68 68);
}
.animation_out{
    animation: out .3s;
}
@keyframes out {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.done_note{
    text-decoration: line-through;
    border-left: solid 5px rgb(34 197 94);
}